<!DOCTYPE html>

<style>
    .newClass {
        color: #ff0000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: inherit;
        }
    </style>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="main-header py-3 @(Session["Username"] == null ? "py-lg-5" : "")">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Left (Logo/Title) -->
                <h1 class="m-0 flex-grow-1 text-center">
                    
                </h1>
                <h1 class="m-0 flex-grow-1 text-center">
                    <a class="newClass text-decoration-none" href="#">
                        RESTORANT
                    </a>
                </h1>

                <!-- Right (Username & Logout) -->
                <div class="d-flex align-items-center ms-auto">
                    <form id="usernameId" method="post" class="me-2 mb-0" style="padding-right: 10px;">
                        <span id="usernameDisplay">@Session["Username"]</span>
                    </form>
                    <form id="logoutForm" action="@Url.Action("Logout", "Register")" method="post" class="mb-0">
                        <button type="submit" id="logoutButton" class="btn btn-danger">Dilni</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentPage = window.location.pathname;
        var loginButton = document.getElementById('loginButton');
        var registerButton = document.getElementById('registerButton');
        var logoutButton = document.getElementById('logoutButton');

        // Check if the current page is the login page or not
        var isLoginPage = currentPage === '/' || currentPage.includes('Home/LoginForm');

        if (isLoginPage) {
            logoutButton.style.display = 'none';
        } else {
            logoutButton.style.display = 'block';
        }
    });
</script>

