
@model IEnumerable<Rest.Models.TableReservation>

<table>
    <thead>
        <tr>
            <th>Nr</th>
            <th>Emri i Përdoruesit</th>
            <th>Numri i tavolinës</th>
            <th>Numri i personave</th>
            <th>Data</th>
            <th>Ora</th>
            <th>Statusi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.Select((res, index) => new { Reservation = res, Index = index + 1 }))
        {
            <tr id="row-@reservation.Reservation.Id_ReservationTable">
                <td>@reservation.Index</td>
                <td>@reservation.Reservation.User.Username</td>
                <td>@reservation.Reservation.Table.Table_Number</td>
                <td>@reservation.Reservation.NumberOfPersons</td>
                <td>@reservation.Reservation.Reservation_Date.ToString("yyyy-MM-dd")</td>
                <td>@reservation.Reservation.Reservation_Time.ToString(@"hh\:mm")</td>
                <td>@reservation.Reservation.ReservateStatu.ReservationStatus</td>
            </tr>
        }
    </tbody>
</table>